<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

	<Properties>
<!--
  		<Property name="standard">[%d{yyyy/MM/dd HH:mm:ss.SSS}] %m%n %X{client}</Property>
		<Property name="standard">[%d{yyyy/MM/dd HH:mm:ss.SSS}] %m%n</Property>

-->
  		<Property name="standard">[%d{yyyy/MM/dd HH:mm:ss.SSS}] %m%n %t %X{client}</Property>
		<Property name="business">[%d{yyyy/MM/dd HH:mm:ss.SSS}] %m%n</Property>
		<Property name="dir">/Users/arakawa/Documents/workspace12/mvc</Property>
    <Property name="baseDir">/Users/arakawa/Documents/workspace12/mvc/logs</Property>

	</Properties>

	<Appenders>
		<File name="MyFile" fileName="logs/app.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${standard}" />
		</Console>

		<RollingFile name="app" fileName="${dir}/app.log"
			filePattern="app\_%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="${business}" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

<!--
		<RollingFile name="hoge" fileName="/Users/arakawa/Documents/workspace12/mvc/logs/hoge.log" filePattern="/Users/arakawa/Documents/workspace12/mvc/logs/hoge-%d{yyyy-MM-dd-HH-mm-ss}.log">
	        <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss.SSS}] %p &lt;%c{1}&gt; %m%n" />
	        <TimeBasedTriggeringPolicy />
	        <DefaultRolloverStrategy>
	            <Delete basePath="/Users/arakawa/Documents/workspace12/mvc/logs" maxDepth="2">
	                <IfFileName glob="hoge-*.log" />
	                <IfLastModified age="1s" />
	            </Delete>
	        </DefaultRolloverStrategy>
	    </RollingFile>
 -->


<!--
ok
    <RollingFile name="hoge" fileName="${baseDir}/app.log"
          filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}.log.gz">
      <PatternLayout pattern="%d %p %c{1.} [%t] %m%n" />
	        <TimeBasedTriggeringPolicy />

      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}" maxDepth="2">
          <IfFileName glob="*/app-*.log.gz" />
          <IfLastModified age="1H" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
-->


	<RollingFile name="hoge" fileName="${baseDir}/app.log"
		filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}.log.gz">

		<PatternLayout>
			<MarkerPatternSelector defaultPattern="%d{dd MMM yyyy HH:mm:ss}: %m%n">
				<PatternMatch key="ExceptionInterceptor1"
					pattern="%d{dd MMM yyyy HH:mm:ss,SSS}: %m%throwable{5}%n" />
				<PatternMatch key="ExceptionInterceptor2"
					pattern="%d{dd MMM yyyy}: %m%throwable{5}%n" />
			</MarkerPatternSelector>
		</PatternLayout>

		<TimeBasedTriggeringPolicy />

		<DefaultRolloverStrategy>
			<Delete basePath="${baseDir}" maxDepth="2">
				<IfFileName glob="*/app-*.log.gz" />
				<IfLastModified age="1H" />
			</Delete>
		</DefaultRolloverStrategy>
	</RollingFile>



<!--
		<RollingFile name="hoge" fileName="${dir}/hoge.log" filePattern="${dir}/hoge-%d{yyyy-MM-dd-HH-mm-ss}.log">
	        <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss.SSS}] %p &lt;%c{1}&gt; %m%n" />
	        <TimeBasedTriggeringPolicy />
	        <DefaultRolloverStrategy>
	            <Delete basePath="${dir}" maxDepth="1">
	                <IfFileName glob="hoge-*.log" />
	                <IfLastModified age="1d" />
	            </Delete>
	        </DefaultRolloverStrategy>
	    </RollingFile>
 -->

		<Async name="AsyncConsole">
			<AppenderRef ref="console" />
		</Async>

		<Async name="AsyncApp">
			<AppenderRef ref="app" />
		</Async>

		<Async name="AsyncHoge">
			<AppenderRef ref="hoge" />
		</Async>


	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="AsyncConsole" />
		</Root>

        <Logger name="org.springframework.web" level="debug" >
            <AppenderRef ref="AsyncApp" />
        </Logger>

<!--
        <Logger name="sample" level="info" additivity="false">
            <AppenderRef ref="AsyncConsole" />
        </Logger>
 -->

        <Logger name="sample" level="info" additivity="false">
            <AppenderRef ref="AsyncHoge" />
        </Logger>


	</Loggers>
</Configuration>